html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a {
    color: #FFA500;
}
h1 {
    color: #133B5C !important;
}
h5 {
    color: #133B5C !important; 
}
.btn-orange {
    background-color: #FFA500!important;
    color:black !important;
}
.alert-tab {
    background-color: #FFA500 !important;
    color: black !important;
    border: 1px solid black;
}