@using SpelAvondApp.Domain.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpelAvondApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpelAvondApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="~/Images/LogoSpelavonden.ico" type="image/x-icon">
</head>
<body style="background-color:#D9F0FF;">
    <header style="background-color:#1F4E79;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Images/LogoSpelavonden.png" alt="Logo Spelavonden" style="height:50px; margin-right:10px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                         @if (SignInManager.IsSignedIn(User)) 
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Bordspel" asp-action="Index">Bordspellen Lijst</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="BordspellenAvond" asp-action="Index">Bordspellenavonden</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="mijnAvondenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mijn Avonden
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="mijnAvondenDropdown">
                                    <li><a class="dropdown-item" asp-controller="BordspellenAvond" asp-action="BeheerdersOverzicht">Mijn Gemaakte Avonden</a></li>
                                    <li><a class="dropdown-item" asp-controller="BordspellenAvond" asp-action="MijnIngeschrevenAvonden">Avonden Waarbij Ik Ben Ingeschreven</a></li>
                                </ul>
                            </li>


                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#1F4E79;">
        <div class="container" style="color:white;">
            &copy; 2024 - SpelAvondApp 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
