@model SpelAvondApp.Domain.Models.BordspellenAvond
@{
    ViewData["Title"] = "Nieuwe Bordspellenavond Aanmaken";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Datum">Datum en Tijd</label>
        <input asp-for="Datum" class="form-control" type="datetime-local" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adres">Adres</label>
        <input asp-for="Adres" class="form-control" />
        <span asp-validation-for="Adres" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxAantalSpelers">Maximaal Aantal Spelers</label>
        <input asp-for="MaxAantalSpelers" class="form-control" type="number" />
        <span asp-validation-for="MaxAantalSpelers" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="Is18Plus" class="form-check-input" type="checkbox" />
        <label asp-for="Is18Plus" class="form-check-label">Alleen voor 18+</label>
        <span asp-validation-for="Is18Plus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="geselecteerdeBordspellen">Kies Bordspellen</label>
        <select asp-for="Bordspellen" asp-items="ViewBag.Bordspellen" class="form-control" multiple="multiple" name="geselecteerdeBordspellen">
        </select>
        <span asp-validation-for="Bordspellen" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Opslaan</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
