@model SpelAvondApp.Domain.Models.BordspellenAvond

@{
    ViewData["Title"] = "Bordspellenavond Bewerken";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Datum">Datum en Tijd</label>
        <input asp-for="Datum" class="form-control" type="datetime-local" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adres">Adres</label>
        <input asp-for="Adres" class="form-control" />
        <span asp-validation-for="Adres" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxAantalSpelers">Maximaal Aantal Spelers</label>
        <input asp-for="MaxAantalSpelers" class="form-control" type="number" />
        <span asp-validation-for="MaxAantalSpelers" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="Is18Plus" class="form-check-input" type="checkbox" />
        <label asp-for="Is18Plus" class="form-check-label">Alleen voor 18+</label>
        <span asp-validation-for="Is18Plus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="GeselecteerdeBordspellen">Kies Bordspellen</label>
        <select asp-for="Bordspellen" asp-items="ViewBag.Bordspellen" class="form-control" multiple="multiple"></select>
        <span asp-validation-for="Bordspellen" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Opslaan</button>
    <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
